@model SialkotSweet.Models.Tbl_Register
@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-2">
            <a href="@Url.Action("Home","Home")" class="btn btn-light"><i class="fa fa-home"></i> Back to Home</a>
            <a href="@Url.Action("Reg_Details","Home")" class="btn btn-dark" style="margin-top:10px"><i class="fa fa-table"></i> Registration List</a>
        </div>
        <div class="col-md-8 bg-light">
            <h1 class="text-center mt-2" style="color:#000;"><b>UPDATE REGISTER USER</b></h1>
            @using (Html.BeginForm("EditReg", "Home", FormMethod.Post))
            {
            <div class="row mt-5">
                <div class="col-md-6">
                    <label class="">Enter User Name / Email</label>
                    @Html.TextBoxFor(x => x.Username, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6">
                    <label class="">Enter Password</label>
                    @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6">
                    <label class="">Enter CNIC</label>
                    @Html.TextBoxFor(x => x.CNIC, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CNIC, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6">
                    <label class="">Enter Mobile No.</label>
                    @Html.TextBoxFor(x => x.Mobile, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6">
                    <label class="">Enter Salary Amount</label>
                    @Html.TextBoxFor(x => x.Salary, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6">
                    <label class="">Enter Role</label>

                    @Html.DropDownListFor(x=>x.Role, new List<SelectListItem>
                                       {
                                          new SelectListItem{ Text="Select Role", Value = "" },
                                          new SelectListItem{ Text="Admin", Value = "Admin" },
                                          new SelectListItem{ Text="User", Value = "User" },

                                       },new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6">
                    <label class="">Enter Address</label>
                    @Html.TextAreaFor(x => x.Address, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6"><input type="submit" name="Login" value="SUBMIT" class="btn btn-dark mt-5" /></div>
            </div>
            }
            <p class="text-center text-danger"><b>@ViewBag.msg</b></p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

